body, html{
  font-family: "Garamond";
}

.header {
  border-bottom: 1px solid #e5e5e5;
}

.header h3 {
  padding-bottom: 5px;
  margin-top: 5%;
  margin-bottom: 0;
  line-height: 40px;
  font-family: "Garamond";
  font-weight: bold;
}

a {
  color:black;
  font-size: 15px;
}

a:hover {
  text-decoration: none;
}


